@media (min-width: 1300px) {
  .container {
    max-width: 1360px;
  }
}
@media (max-width: 1330px) {
  .menu li {
    font-size: 16px;
    padding: 0 1%;
  }
  h2 {
    font-size: 27px;
  }
  .main-sec-item .info h1 {
    font-size: 27px;
  }
  .maininfo-item {
    margin-bottom: 6px;
  }
  .maininfo-item p {
    font-size: 14px;
  }
  .btn-link {
    font-size: 14px;
  }
  .video-info .info h3 {
    font-size: 18px;
  }
  .video-wrep .info .them-img img {
    height: 380px;
    width: 100%;
    object-fit: cover;
  }
  .video-info-wrep .video-info .them-img img {
    height: 104px;
  }
  .prodect-item .info h3 {
    font-size: 19px;
  }
}
@media (max-width: 1199px) {
  .menu li {
    font-size: 15px;
    padding: 0 7px;
  }
  .prodect-menu li {
    font-size: 16px;
  }
  .prodect-item .info h3 {
    font-size: 19px;
    line-height: 25px;
  }
  .arrow-btn a {
    width: 38px;
    height: 38px;
    line-height: 38px;
  }
  .arrow-btn a img {
    margin-left: 0;
  }
  .product-title {
    font-size: 22px;
  }
  .share-icon {
    margin-left: 10px;
  }
  .share-icon a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .prodect-item {
    padding: 15px 15px 21px;
  }
  .video-info .info h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .video-info .info p {
    font-size: 15px;
  }
  footer {
    padding: 70px 0 40px;
  }
  .prodect-list.style-2 .prodect-item {
    padding: 15px 15px 62px;
  }
  .video-info .info h3 {
    font-size: 15px;
  }
  .prodect-item .info h3 {
    font-size: 15px;
  }
  .main-sec-item .info h1 {
    font-size: 21px;
  }
  .main-top-sec .col-md-12.col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .main-top-sec .col-md-8.col-lg-4 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .main-top-sec .col-md-4.col-lg-2 {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
  }
  footer .footer-social .social-outer li a {
    max-width: 35px;
  }
  footer .footer-social .social-outer li a img {
    width: 100%;
  }
  footer .download-app a {
    margin-top: 15px;
  }
  .inner-header .logo img {
    max-width: 115px;
  }
  .stors-link li img {
    width: 120px;
  }
  .stors-link li span {
    font-size: 12px;
  }
  .vision-outer .missions {
    padding: 20px 20px 15px;
    min-height: 628px;
  }
  .vision-outer {
    margin: 30px 0 40px;
  }
  .social-list li {
    margin-right: 12px;
  }
  .social-list li img {
    width: 42px;
  }
  .file label {
    font-size: 15px;
  }
  .file label strong {
    font-size: 16px;
  }
  .contact-form .before-border {
    left: 18px;
  }
  .form-control.input-img.text {
    background-position: center left 16px !important;
  }
  .form-control.input-img.mail {
    background-position: center left 15px !important;
  }
  .form-control.input-img.phone {
    background-position: center left 15px !important;
  }
  .form-control.input-img.interest {
    background-position: center left 9px !important;
  }
  .form-control.input-img.budget {
    background-position: center left 20px !important;
  }
  .form-control.input-img.deadline {
    background-position: center left 16px !important;
  }
  .form-control.input-img.textarea {
    background-position: top 12px left 14px !important;
  }
  .form-control.input-img {
    padding-left: 65px;
  }
  .form-control {
    height: 50px;
    font-size: 15px;
  }
  .form-control.textarea {
    padding: 9px 10px 5px 90px;
    height: 120px;
  }
  .breaking-news-inner {
    padding: 18px 15px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  .menu li {
    margin-bottom: 8px;
  }
  .header-menu {
    padding: 13px 0 7px;
  }
  .main-sec-item .info h1 {
    font-size: 3.7vw;
    line-height: 34px;
  }
  .maininfo-item {
    padding: 10px 12px;
    width: 46%;
    margin: 0 6px 14px;
  }
  .info-wrepr {
    display: flex;
    flex-wrap: wrap;
  }
  .prodect-menu li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .main-sec-item {
    margin-bottom: 0;
  }
  .prodect-item .info h3 {
    font-size: 16px;
    line-height: 23px;
  }
  .video-info .info h3 {
    font-size: 15px;
    line-height: 19px;
  }
  .video-info .info p {
    font-size: 12px;
  }
  .video-info {
    padding: 10px;
  }
  .arrow-btn a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .arrow-btn a img {
    max-width: 26%;
  }
  .prodect-item .info p {
    font-size: 14px;
    line-height: 20px;
  }
  .date span {
    font-size: 11px;
    line-height: 20px;
  }
  .share-icon a {
    width: 40px;
    height: 40px;
    line-height: 38px;
  }
  .share-icon a img {
    max-width: 60%;
  }
  .share-icon {
    margin-bottom: -85px;
  }
  footer .download-app {
    text-align: left !important;
    margin-top: 10px;
  }
  .menu li {
    font-size: 1.7vw;
    padding: 0 0.4%;
  }
  .top-menu-list li {
    font-size: 14px;
  }
  .top-menu-list li .them-icon img {
    margin-bottom: 2px;
  }
  .maininfo-item p {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .btn-link {
    font-size: 12px;
  }
  .product-title {
    font-size: 20px;
    margin: .0;
  }
  .prodect-menu li {
    font-size: 12px;
    margin-bottom: 13px;
    padding: 0 6px;
  }
  footer .download-app a img {
    width: 35%;
  }
  footer .download-app a {
    margin-top: 10px;
  }
  /*ajay-css*/
  .more-news {
    padding: 10px 0 50px;
  }
  h1 {
    font-size: 30px;
  }
  .news-top .date {
    margin: 0 0 10px;
  }
  .news-content .date {
    margin-top: 10px;
  }
  .about-main {
    padding: 30px 0 40px;
  }
  .about-main p {
    font-size: 15px;
  }
  .vision-outer .missions {
    padding: 10px 15px;
    min-height: 570px;
  }
  .vision-heading .title {
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 3px;
  }
  .vision-heading .title:before {
    width: 90px;
    height: 8px;
  }
  .vision-heading {
    margin-bottom: 30px;
  }
  .tabing-nav .tab-nav li.active p {
    font-size: 9px;
  }
  .tabing-nav .tab-nav span {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 10px;
  }
  .tabing-nav .tab-nav li.active h5 {
    font-size: 13px;
    margin-bottom: 8px;
  }
  .tabing-nav .tab-nav li.active span {
    font-size: 10px;
  }
  .tabing-nav .tab-nav h5 {
    font-size: 15px;
  }
  .tabing-nav-wrap .tabing-nav {
    min-height: 188px;
    padding: 20px 20px;
  }
  .date-prayer h6 {
    font-size: 13px;
  }
  .date-prayer span {
    font-size: 13px;
  }
  select.form-control {
    font-size: 11px;
    height: 35px;
  }
  .them-table tr td:first-child {
    font-size: 11px;
    line-height: 16px;
  }
  .them-table tr td {
    padding: 13px 3px;
    font-size: 12px;
  }
  .them-table .table thead th {
    font-size: 11px;
  }
  .social-link li {
    font-size: 13px;
  }
  .contact-form .file:before {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
  .contact-form .file {
    padding-left: 48px;
    height: auto;
    padding-top: 2px;
    margin-bottom: 0px;
  }
  .file label strong {
    margin-bottom: 0;
    font-size: 15px;
  }
  .file label {
    font-size: 13px;
  }
  .contact-form input[type="checkbox"] {
    width: 22px;
    height: 22px;
  }
  .contact-form .checkbox label:after {
    width: 22px;
    height: 22px;
    top: -1px;
  }
  .checkbox label {
    padding-left: 30px;
  }
  .contact-form .checkbox label:before {
    width: 15px;
    height: 15px;
    left: 3px;
    top: 4px;
  }
  .contact-inner .email-wrep .inner span {
    font-size: 14px;
  }
  .social-list li {
    margin-right: 6px;
  }
  .social-list li img {
    width: 35px;
  }
  .contact-main {
    padding: 30px 0 20px;
  }
  .breaking-news-inner p:first-of-type {
    width: 150px;
  }
  .breaking-news-inner p {
    width: calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: -ms-calc(100% - 150px);
  }
  .breaking-news-inner p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .stors-link {
    text-align: right;
    margin-left: -14%;
  }
  .stors-link li a img {
    max-width: 75%;
  }
  .stors-link li span {
    font-size: 11px;
  }
  .inner-header {
    position: relative;
    padding: 10px 0 9px;
  }
  .inner-header .mobile-menu {
    display: block;
    position: absolute;
    right: 15px;
    top: auto;
    bottom: auto;
    width: 25px;
    height: 14px;
    padding: 0px;
    cursor: pointer;
  }
  .inner-header .mobile-menu span {
    width: 100%;
    height: 100%;
    border-top: 2px solid #000;
    display: block;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -ms-transition: all ease-in-out 0.25s;
  }
  .inner-header .mobile-menu span:before {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0px;
    bottom: 0;
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -ms-transition: all ease-in-out 0.25s;
  }
  .inner-header .mobile-menu span:after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition: all ease-in-out 0.25s;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -ms-transition: all ease-in-out 0.25s;
  }
  .inner-header .mobile-menu span.active {
    border-top: 0px;
  }
  .inner-header .mobile-menu span.active:before {
    bottom: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  .inner-header .mobile-menu span.active:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
  .menu li {
    display: block;
    padding: 0;
  }
  .menu {
    display: flex;
  }
  .header-menu .container {
    overflow-x: scroll;
  }
  .header-menu .container::-webkit-scrollbar {
    height: 0;
    padding: 0;
  }
  .header-menu .container::-webkit-scrollbar-track {
    background: transparent;
    padding: 0;
  }
  .header-menu .container::-webkit-scrollbar-thumb {
    background: #000;
    height: 2px;
    padding: 0;
  }
  .header-menu .container:-webkit-scrollbar-thumb:hover {
    background: #0000;
    height: 2px;
    padding: 0;
  }
  ul.stors-link {
    display: flex;
    justify-content: flex-end;
  }
  .main-header {
    position: relative;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    padding-bottom: 0;
  }
  /*.header-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;
    display: block;
  }*/
  .menu li a {
    display: block;
    padding: 0px 13px;
  }
  .stors-link.style-2 {
    display: block;
    margin-left: 0;
    text-align: left;
  }
  .stors-link.style-2 li {
    display: block;
    text-align: left;
    margin-bottom: 8px;
  }
  .stors-link.style-2 li a {
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .top-menu-list li {
    padding: 0 5px;
  }
  .top-menu-list li .them-icon img {
    width: 10px;
    margin-right: 3px;
  }
  .top-menu-list li a {
    line-height: normal;
    font-size: 13px;
  }
  .heder-right-menu li a {
    font-size: 12px;
  }
  .heder-right-menu li .translet {
    margin-left: 5px;
  }
  .heder-right-menu li select.form-control {
    padding: 0 14px 0 4px;
    font-size: 11px;
  }
  .info-wrepr {
    margin-bottom: 40px;
  }
  .top-bar .product-outer {
    order: 1;
  }
  .top-bar .product-view {
    order: 2;
  }
  .top-bar .product-tabs {
    order: 3;
    margin: 10px 0 0;
  }
  .prodect-list {
    margin-top: 0px;
  }
  .prodect-slider {
    margin: 20px -15px 0;
  }
  .prodect-menu li {
    font-size: 14px;
  }
  .menu li a {
    display: block;
    padding: 0px 13px;
  }
  .stors-link.style-2 {
    display: block;
    margin-left: 0;
    text-align: left;
  }
  .stors-link.style-2 li {
    display: block;
    text-align: left;
    margin-bottom: 8px;
  }
  .stors-link.style-2 li a {
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .top-menu-list li {
    padding: 0 5px;
  }
  .top-menu-list li .them-icon img {
    width: 10px;
    margin-right: 3px;
  }
  .top-menu-list li a {
    line-height: normal;
    font-size: 12px;
  }
  .heder-right-menu li a {
    font-size: 12px;
  }
  .heder-right-menu li .translet {
    margin-left: 5px;
  }
  .heder-right-menu li select.form-control {
    padding: 0 14px 0 4px;
    font-size: 11px;
  }
  .info-wrepr {
    margin-bottom: 40px;
  }
  .top-bar .product-outer {
    order: 1;
  }
  .top-bar .product-view {
    order: 2;
  }
  .top-bar .product-tabs {
    order: 3;
    margin: 10px 0 0;
  }
  .prodect-list {
    margin-top: 0px;
  }
  .prodect-slider {
    margin: 0 -15px 0;
  }
  .prodect-menu li {
    font-size: 13px;
  }
  .prodect-item {
    padding: 15px;
  }
  .prodect-item .info h3 {
    font-size: 12px;
    line-height: 20px;
  }
  .date .row {
    margin: 0 -10px;
  }
  .date .row [class*="col-"] {
    flex: 0 0 49.333333%;
    max-width: 50.333333%;
    padding: 0 10px;
  }
  .prodect-slider .slid-item {
    padding: 10px 7px;
  }
  .main-top-sec .them-img {
    text-align: center;
  }
  h2 {
    font-size: 21px;
  }
  .arrow-btn a {
    width: 25px;
    height: 25px;
    line-height: 24px;
  }
  .arrow-bt img {
    margin-left: 3px;
  }
  .btn-primary {
    font-size: 13px;
    max-width: 111px;
    padding: 7px 10px;
  }
  .prodect-menu {
    margin: 0 -8px;
  }
  .video-info .them-img img {
    height: auto;
  }
  .video-wrep {
    margin-bottom: 15px;
  }
  .arrow-btn a img {
    max-width: 21%;
    margin-left: 2px;
  }
  .video-wrep {
    padding: 15px;
  }
  .video-info.item {
    width: 47%;
    margin: 0px 8px;
    margin-bottom: 10px;
  }
  .video-info-wrep {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;
    justify-content: center;
  }
  .prodect-wrep .top-bar {
    margin-top: 0;
  }
  .video-sec {
    padding: 29px 0 0;
  }
  .video-info {
    padding: 15px 15px 17px;
  }
  .prodect-menu.nav-tabs {
    justify-content: center;
  }
  .advertisement.style-2 {
    padding-bottom: 33px;
    padding-top: 2px;
  }
  .prodect-wrep.style-2 {
    padding: 17px 0;
  }
  /*.date .row [class*="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 10px;
}*/
  .prodect-item .info h3 {
    font-size: 14px;
    line-height: 20px;
  }
  .prodect-item .info p {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 8px;
  }
  .prodect-list.style-2 .prodect-item {
    padding: 12px 12px 70px;
  }
  .share-icon a img {
    max-width: 42%;
    margin-right: 2px;
  }
  .share-icon a {
    width: 30px;
    height: 30px;
    line-height: 29px;
  }
  .play-btn a {
    width: 60px;
    height: 60px;
    line-height: 53px;
    padding-left: 7px;
  }
  .play-btn a img {
    width: 15px;
  }
  .product-title {
    font-size: 12px;
    line-height: 19px;
  }
  .btn-primary {
    font-size: 12px;
    max-width: 85px;
    padding: 6px 8px;
  }
  .prodect-wrep.style-2 .date .row [class*="col-"] {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .maininfo-item p {
    font-size: 11px;
    line-height: 18px;
  }
  .info-wrepr {
    margin-bottom: 8px;
  }
  footer .download-app {
    margin: 0px;
  }
  footer .footer-menu {
    margin: 25px 0;
  }
  footer {
    padding: 35px 0;
  }
  footer .logo img {
    max-width: 30%;
  }
  footer .download-app a img {
    width: 150px;
  }
  footer .download-app a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
  }
  .menu li {
    font-size: 13px;
  }
  .prodect-wrep.style-3 .row [class*="col-"] {
    width: 50%;
    padding: 0 6px;
    margin-bottom: 15px;
  }
  .video-wrep .info .them-img img {
    height: 210px;
  }
  /*ajay-css*/
  .news-outer {
    margin-bottom: 20px;
  }
  .more-news {
    padding: 10px 0 20px;
  }
  .advertisement.news-add {
    padding-bottom: 50px;
  }
  .faq-header .title {
    font-size: 16px;
    line-height: normal;
    padding: 8px 10px;
  }
  .faq-body {
    padding: 10px;
  }
  .faq-body p {
    font-size: 14px;
    line-height: 25px;
  }
  .faq-accordion {
    margin: 10px 0 0;
  }
  .vision-outer .missions {
    padding: 20px 15px;
    min-height: auto;
    margin-bottom: 20px;
  }
  .missions img {
    width: 100%;
  }
  .vision-outer {
    margin: 30px 0 20px;
  }
  .header-menu {
    padding: 8px 0 7px;
  }
  .menu li {
    margin-bottom: 3px;
  }
}
@media (max-width: 575px) {
  ul.heder-right-menu {
    text-align: center;
  }
  .top-menu-list {
    text-align: center;
  }
  .inner-header .logo img {
    max-width: 83px;
  }
  .main-sec-item .info h1 {
    font-size: 21px;
    line-height: 31px;
  }
  .video-info-wrep {
    margin: 0 -6px;
  }
  .video-info.item {
    width: 47%;
    margin: 0px 6px;
    margin-bottom: 8px;
  }
  .product-tabs {
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 0;
  }
  ul.prodect-menu.nav.nav-tabs {
    width: 491px;
    justify-content: flex-start;
  }
  .main-top-sec {
    padding: 21px 0 0;
  }
  .btn-link {
    font-size: 10px;
  }
  /*ajay-css*/
  footer p {
    font-size: 16px;
    margin: 15px 0 20px !important;
  }
  footer ul h6 {
    margin-bottom: 12px;
  }
  footer h6 {
    font-size: 20px;
  }
  .prodect-wrep.related-post {
    padding-top: 20px;
  }
  .faq .them-img {
    text-align: left;
  }
  .vision-heading .title {
    font-size: 22px;
    line-height: 42px;
    padding-bottom: 0;
  }
  .vision-heading .title:before {
    width: 65px;
    height: 5px;
    bottom: 3px;
  }
  .vision-heading {
    margin-bottom: 20px;
  }
  .vision-outer {
    margin: 15px 0 10px;
  }
  .about-main {
    padding: 25px 0;
  }
  h5 {
    font-size: 18px;
  }
  .prayer-time {
    padding: 10px 0 10px;
  }
  .gold-rates {
    padding: 0 0 10px;
  }
  .rates-heding .title {
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 19px;
  }
  .rates-heding .sec-date {
    font-size: 12px;
  }
  .rates-heding .info {
    font-size: 14px;
  }
  .menu li a {
    padding: 0px 9px;
  }
  li.d-none-2 {
    display: none;
  }
  .heder-right-menu.style-2 {
    display: block;
    text-align: right;
  }
  ul.stors-link {
    display: none;
  }
  .heder-right-menu {
    display: none;
  }
  .form-control.textarea {
    padding: 9px 10px 5px 65px;
    height: 90px;
  }
  .contact-form .file {
    margin-bottom: 10px;
  }
  .contact-inner {
    padding: 30px 0 10px;
    margin: 20px 0 0;
  }
  .email-wrep {
    margin-bottom: 25px;
  }
  .contact-inner.style-2 {
    margin: 0;
  }
  h3 {
    font-size: 22px;
  }
  .breaking-news-inner p {
    font-size: 15px;
  }
  .breaking-news-inner p:first-of-type {
    width: 135px;
  }
  .breaking-news-inner p {
    width: calc(100% - 135px);
    width: -webkit-calc(100% - 135px);
    width: -moz-calc(100% - 135px);
    width: -ms-calc(100% - 135px);
  }
}
@media (max-width: 489px) {
  .maininfo-item {
    width: 100%;
  }
  .video-info.item {
    width: 100%;
    margin: 6px;
    margin-bottom: 8px;
  }
  .video-info.item {
    width: 100%;
  }
  .maininfo-item {
    margin: 0 0 14px;
  }
  .main-sec-item .info h1 {
    font-size: 14px;
    line-height: 23px;
  }
  .prodect-wrep {
    padding-bottom: 0;
  }
  .video-info-wrep .video-info .them-img img {
    height: 62vw;
  }
  .main-top-sec .col-md-8.col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .main-top-sec .col-md-4.col-lg-2 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  /*ajay-css*/
  footer .footer-menu {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
  }
  footer .logo img {
    max-width: 150px;
  }
  footer h6 {
    font-size: 18px;
  }
  footer ul li a {
    font-size: 13px;
    margin: 0 0 10px;
  }
  footer .footer-menu ul {
    margin-bottom: 20px;
  }
  footer p {
    font-size: 15px;
  }
  footer .download-app a img {
    width: 120px;
  }
  .prodect-wrep.style-3 .row [class*="col-"] {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .prodect-wrep.style-3 {
    padding: 20px 0 20px;
  }
  .news-outer .row [class*="col-"] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .news-content {
    margin: 10px 0px 0px;
  }
  .news-img img {
    width: 100%;
  }
  .news-outer {
    padding: 15px;
  }
  .more-news {
    padding: 30px 0 10px;
  }
  .advertisement.news-add {
    padding-bottom: 40px;
  }
  .tabing-nav .tab-nav li {
    width: 50%;
    margin-bottom: 10px;
  }
  .tabing-nav .tab-nav li:last-child {
    margin-bottom: 0;
  }
  .tabing-nav .tab-nav li.active {
    transform: unset;
  }
  .tabing-nav .tab-nav {
    align-items: unset;
    justify-content: center;
  }
  .tabing-nav .tab-nav li a {
    height: 100%;
  }
  .tabing-nav-wrap .tabing-nav {
    min-height: 374px;
    padding: 20px 20px;
  }
  .text-right {
    text-align: center !important;
  }
  .stors-link li a img {
    max-width: 87%;
  }
  .contact-form .file:before {
    width: 30px;
    height: 30px;
    top: 4px;
  }
  .contact-form .file {
    padding-left: 35px;
    padding-top: 0px;
  }
  .file label {
    font-size: 12px;
  }
  .file label strong {
    margin-bottom: 0;
    font-size: 13px;
  }
  .contact-form input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
  .contact-form .checkbox label:after {
    width: 18px;
    height: 18px;
    top: 2px;
  }
  .contact-form .checkbox label:before {
    width: 12px;
    height: 12px;
    left: 3px;
    top: 6px;
  }
  .checkbox label {
    padding-left: 25px;
    font-size: 13px;
  }
  .breaking-news-inner p:first-of-type {
    width: 100%;
    margin-bottom: 4px !important;
  }
  .breaking-news-inner p {
    width: 100%;
  }
  .breaking-news-inner {
    padding: 10px;
  }
  .breaking-news-inner p {
    font-size: 14px;
  }
}
@media (max-width: 369px) {
  .video-info-wrep .video-info .them-img img {
    height: 210px;
  }
}